<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta property="og:image" content="../static/img/my.png">

  <title>Cosmos</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/book.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
 <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="{{url_for('index')}}">Cosmos</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="{{url_for('bwrite')}}"><span>Write Poem</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{{url_for('poem_writing_acrostic')}}">Acrostic</a></li>
              <li><a href="{{url_for('poem_writing_free')}}">Freestyle</a></li>
              <li><a href="{{url_for('poem_writing_haiku')}}">Haiku</a></li>
              <li><a href="{{url_for('poem_writing_sonnet')}}">Sonnet</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{{url_for('board')}}">Read Poems</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('tube')}}">Resources</a></li>

          {% if isLogin %}
            <li class="dropdown">
              <a href="#"><span><i class="bi bi-person-circle large-icon"></i></span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="{{url_for('mypage')}}">My Poem</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
              </ul>
            </li>
          {% else %}
            <li><a class="nav-link scrollto" href="{{url_for('login')}}">Login</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" id="heroVideo">
    <source src="../static/img/bgvideo.mp4" type="video/mp4">
  </video>
  <div class="container text-center text-md-left">
    <h1 data-aos="zoom-out-up" data-aos-delay="500" data-aos-duration="1500">Write Your Cosmos</h1>
    <h2 data-aos="zoom-out-down" data-aos-delay="1500" data-aos-duration="2000">Immersion in the world of poetry,
<br> With Your own fabulous poems </h2>
    <div data-aos="fade-up" data-aos-delay="2500" data-aos-duration="2000">
      {% if isLogin %}
        <a href="{{url_for('bwrite')}}" class="btn-get-started scrollto">Get started</a>
      {% else %}
        <a href="{{url_for('bwrite')}}" class="btn-get-started scrollto me-2">Get started</a>
        <a href="{{url_for('login')}}" class="btn-get-started scrollto ms-2">Login</a>
      {% endif %}
    </div>
  </div>
</section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>About</h2>
        </div>
          <div class="row">
              <div class="col-md-6"data-aos="fade-right">

                  <p class="mx-2"> In the realm of literary artistry, poetry unveils itself through diverse styles, each governed by its unique rules. Our web application is a guiding beacon, empowering aspiring poets to explore and master various forms – from the concise elegance of Haiku to the structured eloquence of Sonnets, from the playful complexities of Acrostic to the unrestrained creativity of Free Styles.</p>
                  <p class="mx-2"> Beyond instruction, our platform fosters a vibrant community where users share their poetic creations, fostering connections and inspiring one another. Our mission is to unveil the enchanting world of poetry, nurturing a deep understanding and appreciation for this timeless art form among many. Join us on this journey, where the beauty of poetry thrives and hearts find solace in the art of written expression.</p>
              </div>
                <div class="col-md-6 ps-3"data-aos="fade-left">
                          <img src="../static/img/about2 (3).jpeg" class="d-block img-fluid mx-auto" alt="First Slide">
              </div>
          </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Features Section ======= -->
  <section id="why-us" class="why-us section-bg">
      <div class="container">

        <div class="section-title"data-aos="fade-up">
          <h2>Features</h2>
        </div>

        <div class="row" >

          <div class="col-lg-4">
            <div class="box" data-aos="flip-up">
              <span>01</span>
              <h4>Writing</h4>
              <p>Users can write the poem in four different styles: Haiku, Acrostic, Sonnet, and Freestyle</p>

            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="flip-up">
              <span>02</span>
              <h4>Sharing</h4>
              <p>Users can share their poem with the diverse communities.</p>

            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="flip-up">
              <span>03</span>
              <h4>Analyzing</h4>
              <p>Users have the ability to view the popular styles of poems and the trending topics.</p>

            </div>
          </div>

        </div>

      </div>
    </section>



    <section class="">
              <div class="container">
              <div class="section-title" data-aos="fade-up">
      <h2>Statistics</h2>
    </div>
          <div class="row">
              <div class="col-md-6 ">
                  <div class="card data-card mx-auto">
                    <div class="card-body">
                        <h3 class="text-center">Number of Types</h3>
                        <p class="text-center mt-4">The distribution of the different types of poems created by users.</p>
                        <canvas class="mx-auto" id="typePie"></canvas>
                    </div>
                  </div>
              </div>

                            <div class="col-md-6 mt-5 mt-md-0" >
                <div class="card data-card mx-auto">
                    <div class="card-body">
                        <h3 class="text-center">Sentiments</h3>
                        <p class="text-center mt-4">The sentiment analysis findings of the words used in poems.</p>
                        <canvas id="sentimentChart"  class="mx-auto"> </canvas>
                    </div>
                  </div>
              </div>

                            <div class="col-md-6 mt-5 mt-md-5">
                <div class="card data-card mx-auto">
                    <div class="card-body">
                        <h3 class="text-center">Frequent Words</h3>
                        <p class="text-center mt-4">The words most commonly used when composing poems.</p>
                        <canvas id="wordBar"  height="250" width="400"></canvas>
                    </div>
                  </div>
              </div>


                            <div class="col-md-6 mt-5 mt-md-5 mb-5">
                <div class="card data-card mx-auto">
                    <div class="card-body">
                        <h3 class="text-center">Number of Likes</h3>
                        <p class="text-center mt-4">Top 5 users in the community with the highest number of likes.</p>
                        <canvas id="likesBar"  height="250" width="400"></canvas>
                    </div>
                  </div>
              </div>
          </div>
        </div>
    </section>
<section id="contact" class="contact section-bg">
  <div class="container">

    <div class="section-title"  data-aos="fade-up">
      <h2>Contact Us</h2>
      <p>If you would like to dive deeper into the world of poetry with us and spread the beauty of verse to more people, feel free to reach out to us through email.</p>
    </div>

    <div class="row"  data-aos="flip-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <div class="info-box mx-auto rounded-circle">
          <i class="bx bx-envelope icon-big"></i>
          <h3>Email Us</h3>
          <p>serenayeo7@gmail.com</p>
        </div>
      </div>
    </div>

  </div>
</section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
   

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Cosmos</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script>
    // number of haiku, acrostic, sonnet, free
    data_type = {{user_dic|tojson|safe}};
    console.log(data_type)
    var ctx = document.getElementById('typePie').getContext('2d');
    var pie1 = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: Object.keys(data_type),
          datasets: [{
              data: Object.values(data_type),
              backgroundColor: ["#F7C3C2","#C2EAF7","#C5F7C2","#F4F7C2"]
          }]
        },
        options:{
          responsive: true
        }

    });



var data_wordBar = {
    labels: {{ labels_word|tojson }},
    datasets: [{
        label: 'Frequency',
        data: {{ frequencies|tojson }},
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 0, 0, 0.2)',
            'rgba(0, 255, 0, 0.2)',
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(255, 205, 86, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(255, 0, 0, 1)',
            'rgba(0, 255, 0, 1)',
        ],
        borderWidth: 1
    }]
};

        var ctx_wordBar = document.getElementById('wordBar').getContext('2d');
        var barChart = new Chart(ctx_wordBar, {
            type: 'bar',
            data: data_wordBar,
            options: {
                responsive: true,
                scales: {
                    x: {
                        beginAtZero: true
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });


        var data_likeBar = {
            labels: ["{{labels_username[0]}}", "{{labels_username[1]}}", "{{labels_username[2]}}", "{{labels_username[3]}}", "{{labels_username[4]}}"],
            datasets: [{
                label: 'Number of Likes',
                data: [{{number_likes[0]}}, {{number_likes[1]}}, {{number_likes[2]}}, {{number_likes[3]}}, {{number_likes[4]}}],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 205, 86, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 1
            }]
        };

        var ctx_wordBar = document.getElementById('likesBar').getContext('2d');
        var barChart = new Chart(ctx_wordBar, {
            type: 'bar',
            data: data_likeBar,
            options: {
                responsive: true,
                scales: {
                    x: {
                        beginAtZero: true
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });


                    var ctx5 = document.getElementById('sentimentChart').getContext('2d');
            var data = {
                labels: ['Positive', 'Neutral', 'Negative'],
                datasets: [{
                    data: [{{ sentiment_counts.positive }}, {{ sentiment_counts.neutral }}, {{ sentiment_counts.negative }}],
                    backgroundColor: ['#36a2eb', '#ffce56', '#ff6384'],
                }]
            };

            var myPieChart = new Chart(ctx5, {
                type: 'pie',
                data: data,

        options:{
          responsive: true
        }
            });

  </script>
  <!-- Vendor JS Files -->
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>