<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Cosmos
</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="../static/img/book.png" rel="icon">
    <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body>
      <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between">

          <div class="logo">
            <h1><a href="{{url_for('index')}}">Cosmos
</a></h1>
          </div>

          <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{{url_for('index')}}#about">About</a></li>
          <li class="dropdown"><a href="{{url_for('bwrite')}}"><span>Write Poem</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{{url_for('poem_writing_acrostic')}}">Acrostic</a></li>
              <li><a href="{{url_for('poem_writing_free')}}">Freestyle</a></li>

              <li><a href="{{url_for('poem_writing_haiku')}}">Haiku</a></li>
              <li><a href="{{url_for('poem_writing_sonnet')}}">Sonnet</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{{url_for('board')}}">Community</a></li>
                      <li><a class="nav-link scrollto active" href="{{url_for('mypage')}}">My Poem</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('tube')}}">Materials</a></li>

          <li><a class="nav-link scrollto" href="{{url_for('statistics')}}">Statistics</a></li>

          {% if isLogin %}
            <li><a class="nav-link scrollto" href="{{url_for('logout')}}">Logout</a></li>
          {% else %}
            <li><a class="nav-link scrollto" href="{{url_for('login')}}">Login</a></li>
          {% endif %}

        </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

        </div>
      </header>

      <main>
        <div class="container stat-mt">
          <h1 class="mb-5 text-center">My Poem</h1>

          <div class="row mb-4">
            <div class="col-lg-6 d-flex">
                <h4>Filter </h4>
                <ul class="poem-filters">
                  <span class="minor"><li data-filter = "*">ALL</li></span>
                                      <li data-filter = ".filter-Acrostic">Acrostic</li>

                                        <li data-filter = ".filter-Free">Free</li>

                  <li data-filter = ".filter-Haiku">Haiku</li>

                  <li data-filter = ".filter-Sonnet">Sonnet</li>
                </ul>
            </div>
            <div class="col-lg-6 d-flex">
                <h4>Sort </h4>
                <ul class="poem-filters">
                    <li class="sorting" data-sort-by ="date">Date</li>
                    <li class="sorting"  data-sort-by ="title">Title</li>
                </ul>
            </div>
          </div>


          <div class="row poem-container">
              {% set counter = 0 %}
                    {% for i in range(num_poems) %}
                        {% if username == usernames[i] %}
                            {% set counter = counter + 1 %}
                          {% if counter < 4 %}
                            <div class="col-md-6 col-lg-3 poem-item filter-{{types[i]}} mt-4 mt-md-4" data-title="{{titles[i]}}" data-date="{{dates[i][0:10]}}" data-type="{{types[i]}}">
                          {% else %}
                            <div class="col-md-6 col-lg-3 poem-item filter-{{types[i]}} mt-4 mt-md-4 mt-lg-4"data-title="{{titles[i]}}"  data-date="{{ dates[i][0:10]}}" data-type="{{types[i]}}">
                          {% endif %}


                      <div class="card poem-card mx-auto" style="width: 18rem;">
                        <div class="card-body">
                        <div class="d-flex">
                    {% if titles[i]|length < 11 %}
                                                    {% if iambs[i] == 1 %}
                                              <h5 class="card-title"><span class="title">{{titles[i]}} (I)</span> - <span class="board-poemtype type">{{types[i]}}</span></h5>

                                                    {% else %}
                              <h5 class="card-title"><span class="title">{{titles[i]}}</span> - <span class="board-poemtype type">{{types[i]}}</span></h5>

                                                    {% endif %}
                    {% else %}
                                                                                {% if iambs[i] == 1 %}
                                                                  <h5 class="card-title"><span class="title">{{titles[i][0:11]}} (I)...</span> - <span class="board-poemtype type">{{types[i]}}</span></h5>

                                                    {% else %}
                                                  <h5 class="card-title"><span class="title">{{titles[i][0:11]}} (I)...</span> - <span class="board-poemtype type">{{types[i]}}</span></h5>

                                                    {% endif %}
                    {% endif %}
<div class="options-button-container ms-auto">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-primary dropdown-toggle border-0 bg-transparent custom-size" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-three-dots icon-nudge-up"></i> <!-- More icon with custom class -->
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editPoemModal" data-poem-id="{{ ids[i] }}" data-title="{{ titles[i] }}" data-type="{{ types[i] }}" data-content="{{ contents[i] }}"><i class="bi bi-pencil"></i> Edit</a></li>
            <li><a class="dropdown-item delete-button" href="#" data-poem-id="{{ ids[i] }}"><i class="bi bi-trash"></i> Delete</a></li>
        </ul>
    </div>
</div>

</div>
                          <h6 class="card-subtitle mb-2 text-muted">{{usernames[i]}} - <span class="date">{{dates[i][0:10]}}</span></h6>
                            {% if contents[i][:45]|length < 25 %}
                          <p class="card-text mytext">{{contents[i][0:40]}} ...</p>
                    <br>
                            {% else %}
                             <p class="card-text mytext">{{contents[i][0:40]}}...</p>

                            {% endif %}
                        <div class="d-flex justify-content-between">
                          <a class="card-link" data-bs-toggle="modal" data-poem-id = "{{ids[i]}}" data-bs-target="#poemModal" data-title="{{titles[i]}}" data-type="{{types[i]}}" data-username="{{usernames[i]}}" data-date="{{dates[i][0:10]}}" data-content="{{contents[i]}}">
          More
        </a>

                    {% if liked_status[i] == 1 %}
                  <div class="text-right">
                    <button class="mt-1 like-button" data-poem-id="{{ ids[i] }}" data-username="{{ usernames[i] }}" data-liked="{{ liked_status[i] }}">
      <i class="bi bi-heart-fill"></i> <span class="like-count">{{ num_likes[i] }}</span>
                    </button>
                  </div>

                    {%else %}
                                      <div class="text-right">
                    <button class="mt-1 like-button" data-poem-id="{{ ids[i] }}" data-username="{{ usernames[i] }}" data-liked="{{ liked_status[i] }}">
      <i class="bi bi-heart"></i> <span class="like-count">{{ num_likes[i] }}</span>
                    </button>
                  </div>
                    {% endif %}
                        </div>
                        </div>

                      </div>



                    </div>
                        {% endif %}
                    {% endfor %}

                  </div>


<div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="customModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content custom-modal-background">
      <div class="modal-header">
        <h5 class="modal-title" id="customModalLabel">Wrong Poem!</h5>
            <a class="close-modal" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></a>

      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

              <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" class="mcontent">
        <div class="modal-content custom-modal-background2">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
            <a class="close-modal" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></a>

            </div>
            <div class="modal-body">
                Poem successfully edited!
            </div>
        </div>
    </div>
</div>
          <div class="modal fade" id="editPoemModal" tabindex="-1" role="dialog" aria-labelledby="editPoemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPoemModalLabel">Edit Poem</h5>
            <a class="close-modal" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></a>

            </div>
            <div class="modal-body">
                <form id="editPoemForm">
                    <div class="mb-3">
                        <label for="editPoemTitle" class="form-label">Title</label>
                        <input type="text" class="form-control" id="editPoemTitle" required>
                    </div>
                    <div class="mb-3">
                        <label for="editPoemContent" class="form-label">Content</label>
                        <textarea class="form-control" id="editPoemContent" rows="4" required></textarea>
                    </div>
                    <input type="hidden" id="editPoemId">
                    <input type="hidden" id="editPoemType">
                    <button type="button" class="btn btn-primary change" onclick="updatePoem()">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

        </div>
        </div>
<div class="modal fade" id="poemModal" tabindex="-1" aria-labelledby="poemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="poemModalLabel">Poem Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Poem details content goes here -->
        <h6 class="modal-subtitle mb-2 text-muted"><span class="username"></span> - <span class="date"></span></h6>
        <p class="modal-text"></p>

            <div id="comments-section">
    <h5 class="mt-4">Comments</h5>
    <ul id="comments-list"></ul>

    <!-- Add Comment Form -->

      </div>
    </div>
  </div>
</div>




      </main>
    <div id="loading-overlay" style="display: none;">
                <div id="loading-content">
        <div id="loading-spinner"></div>
        <h3 class="mt-3 color-white">We are currently analyzing your poem using NLP techniques; please wait for few seconds.</h3>
    </div>

    </div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script>
  const select = (el, all = false) => {
    el = el.trim();
    if (all) {
      return [...document.querySelectorAll(el)];
    } else {
      return document.querySelector(el);
    }
  };

  const on = (type, el, listener, all = false) => {
    selectEl = select(el, all);
    if (selectEl) {
      if (all) {
        selectEl.forEach((e) => e.addEventListener(type, listener));
      } else {
        selectEl.addEventListener(type, listener);
      }
    }
  };

  window.addEventListener('load', () => {
    poemContainer = select('.poem-container');
    if (poemContainer) {
      poemIsotope = new Isotope(poemContainer, {
        itemSelector: '.poem-item',
        layoutMode: 'fitRows',
        getSortData: {
          date: '[data-date]',
                          title: function(itemElem) {
        return itemElem.getAttribute('data-title').toLowerCase();
      },
          type: '[data-type]'
        }
      });
      poemFilters = select('.poem-filters li', true);
      on('click', '.poem-filters li', function (e) {

        e.preventDefault();
        poemFilters.forEach(function (el) {
          el.classList.remove('filter-active');
        });
        this.classList.add('filter-active');
        poemIsotope.arrange({
          filter: this.getAttribute('data-filter')
        });

      }, true);




    }
  });
</script>


  <script>
    $('.poem-filters .sorting').each(function() {
  $(this).on('click', function(e) {
<!--    e.preventDefault();-->
    var sortBy = $(this).data('sort-by');
    console.log(sortBy);
    if (sortBy === 'title' || sortBy === 'date' || sortBy === 'type') {
      poemIsotope.arrange({ sortBy: sortBy });
      poemIsotope.layout();
    }
  });
});
  </script>

  <script>
document.addEventListener('DOMContentLoaded', function () {
    const moreButtons = document.querySelectorAll('.card-link');
    const commentForm = document.getElementById('comment-form');
    const commentsList = document.getElementById('comments-list');
    let selectedPoemId = null;

    moreButtons.forEach(button => {
        button.addEventListener('click', function () {
            const title = this.getAttribute('data-title');
            const type = this.getAttribute('data-type');
            const username = this.getAttribute('data-username');
            const date = this.getAttribute('data-date');
            const content = this.getAttribute('data-content').replace(/\n/g, '<br>');

            // Display poem details
            document.querySelector('#poemModal .modal-title').innerHTML = `${title} - ${type}`;
            document.querySelector('#poemModal .modal-subtitle').innerHTML = `${username} - ${date}`;
            document.querySelector('#poemModal .modal-text').innerHTML = content;
            selectedPoemId = this.getAttribute('data-poem-id');

            // Fetch and display comments for the selected poem
            fetch(`/get_comments/${selectedPoemId}`)
                .then(response => response.json())
                .then(data => {
                    // Clear existing comments before rendering new ones
                    commentsList.innerHTML = '';
                    // Display comments in the modal
                    renderComments(data.comments);
                })
                .catch(error => console.error('Error:', error));
        });
    });

    commentForm.addEventListener('submit', function (e) {
        e.preventDefault();

        const poemId = selectedPoemId;
        const commentText = document.getElementById('comment-text').value;

        fetch('/add_comment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                poem_id: poemId,
                text: commentText,
            }),
        })
        .then(response => response.json())
        .then(data => {
            // Fetch and display updated comments for the selected poem
            fetch(`/get_comments/${poemId}`)
                .then(response => response.json())
                .then(data => {
                    // Clear existing comments before rendering new ones
                    commentsList.innerHTML = '';
                    // Display updated comments in the modal
                    renderComments(data.comments);
                })
                .catch(error => console.error('Error:', error));

            // Clear the comment input
            document.getElementById('comment-text').value = '';
        })
        .catch(error => console.error('Error:', error));
    });

function renderComments(comments) {
    comments.forEach(comment => {
        const li = document.createElement('li');
        const usernameText = comment.username === 'admin' ? `<span class="bi bi-shield-fill"></span> <strong>${comment.username}</strong>` : comment.username;
        li.innerHTML = `${usernameText}: ${comment.text}`;
        commentsList.appendChild(li);
    });
}
});


</script>

  <script>
document.addEventListener('DOMContentLoaded', function () {
    const likeButtons = document.querySelectorAll('.like-button');

    likeButtons.forEach(button => {
        button.addEventListener('click', function () {
            const poemId = this.getAttribute('data-poem-id');
            const likedStatus = JSON.parse(this.getAttribute('data-liked'));
            const likeCountElement = this.querySelector('.like-count');

            // Toggle the liked status
            const newLikedStatus = !likedStatus;

            // Send the like status to the Flask route
            fetch('/like_poem', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    poem_id: poemId,
                    liked: newLikedStatus ? 1 : 0,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Like status updated successfully.');

                        // Toggle the heart icon based on liked status
                        const heartIcon = this.querySelector('.bi');
                        heartIcon.classList.toggle('bi-heart-fill', newLikedStatus);
                        heartIcon.classList.toggle('bi-heart', !newLikedStatus);

                        // Toggle the 'really-like' class on the button
                        this.classList.toggle('really-like', newLikedStatus);

                        // Update the like count on the client side
                        likeCountElement.innerText = data.like_count;

                        // Update the liked status in the button's data attribute
                        this.setAttribute('data-liked', newLikedStatus);
                    } else {
                        console.error('Failed to update like status.');
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    });
});
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.delete-button').forEach(button => {
        button.addEventListener('click', function () {
            const poemId = this.getAttribute('data-poem-id');
            const confirmation = confirm('Are you sure you want to delete this poem?');

            if (confirmation) {
                fetch('/delete_poem', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ poem_id: poemId }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Poem deleted successfully.');
                        window.location.reload();
                    } else {
                        alert('Error deleting poem.');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        });
    });
});
</script>
  </body>

</html>