<!DOCTYPE html>
<html lang="en">
<head>
<!--    order in head x matter-->
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">

    <title>Title</title>
</head>

<body>
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between">

          <div class="logo">
            <h1><a href="{{url_for('index')}}">Poem</a></h1>
          </div>

          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link scrollto" href="#about">About</a></li>
              <li class="dropdown"><a href="#"><span>Write Poem</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="{{url_for('poem_writing_haiku')}}">Haiku</a></li>
                  <li><a href="{{url_for('poem_writing_sonnet')}}">Sonnet</a></li>
                  <li><a href="{{url_for('poem_writing_acrostic')}}">Acrostic</a></li>
                  <li><a href="#">Freestyle</a></li>
                </ul>
              </li>
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
              {% if isLogin %}
                <li><a class="nav-link scrollto" href="{{url_for('logout')}}">Logout</a></li>
              {% else %}
                <li><a class="nav-link scrollto" href="{{url_for('login')}}">Login</a></li>
              {% endif %}

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

        </div>
      </header>

    <div class="container poemwrite">
        <div class="d-flex justify-content-center bigmargin mb-4">
            <h1 class="haiku_heading text-center me-2 ms-4">Sonnet</h1>
            <a class="info-icon mt-2" data-bs-toggle="modal" data-bs-target="#haiku_insturction"><i class="bi bi-question-circle"></i></a>
        </div>
        <div> <!-- x physically shown-->
            <form action="/poem_writing" method ="POST">
                <div class="wordbox-container">
                    <input  class="word-box me-3" name ="line" placeholder="Enter a line">

                </div>
                 <button id="add-btn" class="btn btn-primary mt-3"><i class="bi bi-patch-plus"></i></button>
                 <button type="submit" class="btn btn-primary mt-3">Submit</button>
                {% with messages = get_flashed_messages() %}
                    {% if messages%}
						<div class="alert alert-danger" role="alert">
							Wrong Poem!
						</div>
					{% endif %}
                {% endwith %}

            </form>

        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    var box_limit = 7;
    var box_current = 1;

    // ByClassName: ["wordbox-container", "wordbox-container"] (list)
    var word_container = document.getElementsByClassName("wordbox-container")[0];
    <!--    storing word-box in line 15 in var wordbox-->
    var addbtn = document.getElementById("add-btn");

    addbtn.addEventListener("click", function() {
        event.preventDefault();
        if (box_current < box_limit) {
            var newBox = document.createElement("input"); <!--creating input tag-->
            newBox.setAttribute('placeholder',"Enter a line")
            newBox.setAttribute('name','line')
            newBox.classList.add("word-box", "mt-3"); <!--adding class-->
            word_container.appendChild(newBox) <!--appending to word_container-->
            box_current += 1;
        }
    });
    <!--executed (do something) when clicked-->
</script>

</body>
</html>