<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Poetry World</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="../static/img/book.png" rel="icon">
    <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body>
      <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between">

          <div class="logo">
            <h1><a href="{{url_for('index')}}">Cosmos
</a></h1>
          </div>

          <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{{url_for('index')}}#about">About</a></li>
          <li class="dropdown"><a href="{{url_for('bwrite')}}"><span>Write Poem</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{{url_for('poem_writing_acrostic')}}">Acrostic</a></li>
              <li><a href="{{url_for('poem_writing_free')}}">Freestyle</a></li>

              <li><a href="{{url_for('poem_writing_haiku')}}">Haiku</a></li>
              <li><a href="{{url_for('poem_writing_sonnet')}}">Sonnet</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{{url_for('board')}}">Community</a></li>
                      <li><a class="nav-link scrollto" href="{{url_for('mypage')}}">My Poem</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('tube')}}">Materials</a></li>

          <li><a class="nav-link scrollto active" href="{{url_for('statistics')}}">Statistics</a></li>

          {% if isLogin %}
            <li><a class="nav-link scrollto" href="{{url_for('logout')}}">Logout</a></li>
          {% else %}
            <li><a class="nav-link scrollto" href="{{url_for('login')}}">Login</a></li>
          {% endif %}

        </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

        </div>
      </header>

      <main>
        <div class="container stat-mt">
          <h1 class="mb-5 text-center">Statistics</h1>
          <div class="row">
              <div class="col-md-6 ">
                  <div class="card data-card mx-auto">
                    <div class="card-body">
                        <h3 class="text-center">Number of Types</h3>
                        <p class="text-center mt-4">The distribution of the different types of poems created by users.</p>
                        <canvas class="mx-auto" id="typePie"></canvas>
                    </div>
                  </div>
              </div>
<!--              <div class="col-md-6 mt-5 mt-md-0" >-->
<!--                <div class="card data-card mx-auto">-->
<!--                    <div class="card-body">-->
<!--                        <h3 class="text-center">Acticvity</h3>-->
<!--                        <p class="text-center">Description</p>-->
<!--                        <canvas id="loginLine"  height="250" width="400"> </canvas>-->
<!--                    </div>-->
<!--                  </div>-->
<!--              </div>-->

                            <div class="col-md-6 mt-5 mt-md-0" >
                <div class="card data-card mx-auto">
                    <div class="card-body">
                        <h3 class="text-center">Sentiments</h3>
                        <p class="text-center mt-4">The sentiment analysis findings of the words used in poems.</p>
                        <canvas id="sentimentChart"  class="mx-auto"> </canvas>
                    </div>
                  </div>
              </div>

                            <div class="col-md-6 mt-5 mt-md-5 mb-5">
                <div class="card data-card mx-auto">
                    <div class="card-body">
                        <h3 class="text-center">Frequent Words</h3>
                        <p class="text-center mt-4">The words most commonly used when composing poems.</p>
                        <canvas id="wordBar"  height="250" width="400"></canvas>
                    </div>
                  </div>
              </div>


                            <div class="col-md-6 mt-5 mt-md-5 mb-5">
                <div class="card data-card mx-auto">
                    <div class="card-body">
                        <h3 class="text-center">Number of Likes</h3>
                        <p class="text-center mt-4">Top 5 users in the community with the highest number of likes.</p>
                        <canvas id="likesBar"  height="250" width="400"></canvas>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script>
    // number of haiku, acrostic, sonnet, free
    data_type = {{user_dic|tojson|safe}};
    console.log(data_type)
    var ctx = document.getElementById('typePie').getContext('2d');
    var pie1 = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: Object.keys(data_type),
          datasets: [{
              data: Object.values(data_type),
              backgroundColor: ["#F7C3C2","#C2EAF7","#C5F7C2","#F4F7C2"]
          }]
        },
        options:{
          responsive: true
        }

    });



var data_wordBar = {
    labels: {{ labels_word|tojson }},
    datasets: [{
        label: 'Frequency',
        data: {{ frequencies|tojson }},
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 0, 0, 0.2)',
            'rgba(0, 255, 0, 0.2)',
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(255, 205, 86, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(255, 0, 0, 1)',
            'rgba(0, 255, 0, 1)',
        ],
        borderWidth: 1
    }]
};

        var ctx_wordBar = document.getElementById('wordBar').getContext('2d');
        var barChart = new Chart(ctx_wordBar, {
            type: 'bar',
            data: data_wordBar,
            options: {
                responsive: true,
                scales: {
                    x: {
                        beginAtZero: true
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });


        var data_likeBar = {
            labels: ['testtest', 'Kayla', 'Scott', 'Alice', 'None'],
            datasets: [{
                label: 'Number of Likes',
                data: [10, 5, 3, 2, 1, 1, 0],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 205, 86, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 1
            }]
        };

        var ctx_wordBar = document.getElementById('likesBar').getContext('2d');
        var barChart = new Chart(ctx_wordBar, {
            type: 'bar',
            data: data_likeBar,
            options: {
                responsive: true,
                scales: {
                    x: {
                        beginAtZero: true
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });


                    var ctx5 = document.getElementById('sentimentChart').getContext('2d');
            var data = {
                labels: ['Positive', 'Neutral', 'Negative'],
                datasets: [{
                    data: [{{ sentiment_counts.positive }}, {{ sentiment_counts.neutral }}, {{ sentiment_counts.negative }}],
                    backgroundColor: ['#36a2eb', '#ffce56', '#ff6384'],
                }]
            };

            var myPieChart = new Chart(ctx5, {
                type: 'pie',
                data: data,

        options:{
          responsive: true
        }
            });

  </script>
    <script src="../static/js/main.js"></script>

  </body>

</html>